* {
    box-sizing: border-box;
}
.row
{
	margin-left: -15px;
	margin-right: -15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body
{
    margin: 0px;
	max-width: 500px;
}

h1,h2,h3
{
	font-weight: 600;
}


h1, h2, h3, h4, h5, h6, p 
{
	font-family: 'Poppins' !important;
	color: #484848;
    margin-top: 0px;
}

h2, h3
{
    margin-bottom: 10px;
}

p
{
    font-size: 14px;
	font-weight: 400;
	color:darkgrey;
}

.icon-logo
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:64px;
	margin-bottom: 10px;
}

.icon
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:120px;
}

.travel-card-body
{
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 4px;
    /*margin: 30px auto;*/
   padding: 50px 50px 25px 50px;
}

.travel-card-logo
{
	text-align: center;
}

.travel-card-hr
{
    width: 80px;
    border: 1.5px solid #ff5a5f !important;
    border-radius: 100px;
    margin: 30px auto;
}
